<div class="input-group mb-2">
    <input type="text" class="form-control" required @bind="Password" @bind:event="oninput">
    <button type="button" class="btn btn-outline-secondary" @onclick="GenererMotDePasse">Générer</button>
    <button type="button" class="btn btn-success"
            @onclick="@(async () => await JS.InvokeVoidAsync("setPasswordField", Password, "coffrePassword"))">
        Utiliser ce mot de passe
    </button>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="majuscules" @bind="InclureMajuscules" @bind:event="onchange">
    <label class="form-check-label" for="majuscules">Inclure des majuscules</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="speciaux" @bind="InclureSpeciaux" @bind:event="onchange">
    <label class="form-check-label" for="speciaux">Inclure des caractères spéciaux</label>
</div>