@page "/coffre/{identifiant}"
@attribute [Authorize]
@inject NavigationManager Navigation
@inject IDownstreamApi DownstreamApi;
@inject IJSRuntime JS


<PageTitle>Coffre</PageTitle>

<div>
    <div>Identifiant de mon coffre : @Identifiant</div>

    <div class="mt-3">
        <a href="@($"/coffre/{Identifiant}/add")" class="btn btn-success">
            Créer une donnée
        </a>
    </div>

    <div class="mt-4">
        <table id="coffreData" class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody id="coffreData">

            </tbody>
        </table>
    </div>
</div>