@page "/logs"
@inject IDownstreamApi DownstreamApi;

<PageTitle>
    Logs de l'application
</PageTitle>

<h2>Historique de logs :</h2>
@if (_logs.Count > 0)
{
    <div class="logs-container">
        @foreach (var log in _logs)
        {
            <h2>@log.Identifiant</h2>
            <span>@log.Message</span>
        }
    </div>
}
